{% extends "base.html" %}

{% block content %}
<h1 class="mt-5">Search Aggregator</h1>
<form id="search-form" method="POST" action="/search">
    <div class="mb-3">
        <label for="query" class="form-label">Search Query</label>
        <input type="text" class="form-control" id="query" name="query" required autocomplete="off">
    </div>
    <div class="mb-3">
        <label class="form-label">Sources</label><br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="google" name="sources" value="google">
            <label class="form-check-label" for="google">Google</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="wikipedia" name="sources" value="wikipedia">
            <label class="form-check-label" for="wikipedia">Wikipedia</label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<div id="results" class="mt-4"></div>
{% endblock %}
